body
{
/* 	background: url(/utomia/resources/images/barrehautVert.png)  repeat-x  #eaa03a;
 */
 	margin: 0px ;
	padding: 0px;
	
	color: #473F41;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 15px;
	font-weight: 100;
}

#treeMap div {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}