html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
/**/

body{
	line-height: 1;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:url(../images/background.jpg) repeat;
	color: #555;
}
.clear{
clear:both;
}
.detailTip {
	width: 100px;	
}
#container{
	width:960px;
	height:785px;
	margin:	75px auto;
	background-color:white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0px 5px #7e7e7e;
	-webkit-box-shadow: 0 0px 5px #7e7e7e;
	-moz-box-shadow: 0 0px 5px #7e7e7e;
	overflow: hidden;
	position:relative;
}
#candidatInfo {
	top: 0px;
	padding-top: 10px;
	opacity: 0;
	filter:alpha(opacity=0); 
	display: none;
}
#vote{
	background:url(../images/sprite.png) no-repeat;
	background-position:-6px -472px;
	margin-bottom: 7px;
	height:40px;
	width:960px;
}
.header{
	float:left;
	width:945px;
	margin-right:15px;
}
#logo{
	background:url(../images/sprite.png) no-repeat;
	background-position:-6px -195px;	
	height:46px;
	width:268px;
	display:block;
	margin-left:15px;
}

#blue{
	background-color:#004492;
	height:10px;
	width:280px;
	margin:10px 0;
}
#candidatName{
	margin-top: 5px;	
}
#red{
	background-color: #de001a;
	height:10px;
	width:240px;
}
#candidatImage {
	z-index: 999999;
}
#candidatImage p{
	line-height:6px;
	background-color:#000000;
	font-family:monospace;
}
#candidatImage p a{
	margin: 0px;
	font-size:9px;
	text-decoration: none;	
}
#candidatImage p a:hover{
	text-decoration: underline;
}
#visualizationTarget {
	font-weight: bold;
}
#visualizationType{
	font-weight: bold;
	text-decoration: underline;
}
#visualizationEvent {
	color:#de001a;
}
#help {
margin-top: 15px;
text-align: left;
font-size: 13px !important;
border: 1px solid gray;
border-style: dashed;
padding: 5px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
#visualizationDate {
	font-size: 18px;
}
.details {
	font-size:14px;
	font-style:normal;
}
.selectBloc{
	z-index: 999999;
	margin: 0px 10px;
}
select{
	font: lighter 22px "Times New Roman",serif !important;
	letter-spacing: 0.1em !important;
	text-transform: uppercase !important;
	text-align: center !important;
	outline: 0 !important;
	width: 200px !important;
	background: #dbeafb !important;
	color: #4b4b4b !important;
	border: 0px !important;
	border-bottom: 1px solid black !important;
	padding: 0px 0px 0px 5px !important;
	height:auto!important;
}
#help {
	margin-top: 15px;
	text-align: left;
	font-size: 13px !important;
}
.italic {
	font-style:italic;
}
.bold {
	font-weight: bold;
}
#leftColomn{
	width:210px;
	margin-left:15px;
	float:left;
	z-index: 999;
	position: relative;
}
.underline {
	text-decoration:underline;
}
#candidatInfo a{
	color:#aa4643;
	font-size:12px;
	text-decoration:underline;
	font-weight:normal;
}
#leftColomn  h2{t
	font-size:18px;
	line-height:20px;
	text-align:left;
	margin-bottom:5px;
}
#containerChartType {
	z-index: 999;
	top: 520px;
	left: 50px;
	color: #383838;
	font-size: 16px;
	font-style:italic;
	position: absolute;
}
#partiImage {
	display: none;
	float: left;
}
#parti {
	margin-top: 5px ;	
}
.left{
	z-index: 5000;
	float:left;
	position: relative;
}
.right{
	float:right;
}
.treemapColumn {
	height: 120px;
}
#middleColomn{
	float:left;
	position:relative;
}
#rightColomn{
	margin-top: -50px;
	margin-right:12px;
	float:right;
}
h1 {
	font-size: 23px;
	color: #484848;
}

#access{
	position: absolute	;
	z-index: 9999999;
	left: 60px;
	top: 30px;
	width: 400px;
	text-align: center;
}
#contentNoJs {
	overflow: auto;
	padding: 10px;	
	height: 750px;
}
h2{
	font-size:24px;
	color:#4b4b4b;
	text-align:center;
	line-height:27px;
}
#noTheme{
	position: absolute ;
	width: 210px;
	text-align: center;
	top: 30px;
	left: 5px;
}
.topColomn{
	background:url(../images/sprite.png) no-repeat;
	background-position:-6px -260px;
	height:34px;
	width:235px;
}
.chartOpinions{
	height:140px;
}
.middleColomn{
	background:url(../images/borderColomn.png) repeat-y;
	width:235px;
	position:relative;
	
}
.tweetsTop{
	background:url(../images/tweetsTop.png) no-repeat;
	width:235px;
	height:2px;
	margin-top:15px;
}
.middleColomn2{
	background:url(../images/borderColomn.png) repeat-y;
	width:235px;
	height:130px;
	position:relative;
}

.bottomColomnLeft{
	background:url(../images/sprite.png) no-repeat;
	background-position:-6px -358px;
	height:58px;
	width:235px;
}

.likeArea{
	position: relative;
	z-index: 999;
	width:34px;
	height:137px;
	float:left;
	margin-left:10px;
	
}
.likeArea div:hover{
	opacity: 1;
	filter:alpha(opacity=100); 
}
.likeArea div{
	opacity: 0.7;
	filter:alpha(opacity=70); 
	cursor: pointer;
	width:34px;
	height:27px;
	margin:2px 0;
}
.tendance{
	background:url(../images/sprite.png) no-repeat;
	background-position:-6px -149px;
}

.favorable{
	background:url(../images/sprite.png) no-repeat;
	background-position:-6px -47px;
}
.defavorable{
	background:url(../images/sprite.png) no-repeat;
	background-position:-6px -84px;
}
.neutre{
	background:url(../images/sprite.png) no-repeat;
	background-position:-6px -117px;
}
.likeArea .buzz{
	height:36px;
	background:url(../images/sprite.png) no-repeat;
	background-position:-6px -11px;
}

.blueButton{
	background: -moz-linear-gradient(top, #176dd0, #004492 );
	background: -webkit-gradient(linear, left top, left bottom, from(#176dd0), to(#004492));
	background: -moz-linear-gradient(top, #176dd0, #004492);
	background-color: #004492;
	border: 1px solid #01346f;
	margin-bottom: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.blueButton:active, .redButton:active{
	box-shadow:inset 0 0 3px #333333;
	-webkit-box-shadow:inset 0 0px 4px #333333;
	-moz-box-shadow:inset 0 0 3px
}

a.blueButton, a.redButton{
	color:white;
	text-decoration:none;
	padding:5px 10px ;
	font-size:16px;
	display:block;
	text-align:center;
}
.redButton{
	background: -moz-linear-gradient(top, #e0283d, #de001a );
	background: -webkit-gradient(linear, left top, left bottom, from(#e0283d), to(#de001a));
	background: -moz-linear-gradient(top, #e0283d, #de001a);
	background-color: #de001a;
	border: 1px solid #a00013;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom:10px;
}


.candidateFrame{
	padding: 3px;
	background-color: black;
	box-shadow: 0 0px 5px #828282;
	-webkit-box-shadow: 0 0px 5px #828282;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
}

#treeMap div {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.cristal:hover{
	opacity:1;
	filter:alpha(opacity=100); 
}
.little{
	font-size:13px;
}
#winner {
	font-size:16px;
	font-weight:bold;
}
.cristal{
	opacity:0.9;
	filter:alpha(opacity=90); 
	cursor: pointer ;
	text-align: center;
	background: url(../images/sprite.png) no-repeat;
	width: 190px;
	background-position: 20px -568px;
	position: absolute;
	height: 170px;
	bottom: 38px;
	right: 0px;
}

.border{
	background: url(../images/sprite.png) no-repeat;
	width: 227px;
	background-color: white;
	background-position: -291px -263px;
	position: absolute;
	height: 63px;
	margin-left:1px;
}


/*
tips structure :
<div class="tips"> //the className you pass in options will be assigned here.
    <div class="tip-top"></div> //useful for styling
 
    <div class="tip">
 
        <div class="tip-title"></div>
 
        <div class="tip-text"></div>
 
    </div>
 
    <div class="tip-bottom"></div> //useful for styling
</div>
*/

#mapTip {
	position: absolute ;
}
.tooltips #mapTip{
	cursor: default;	
}
.tip-title {
	font-weight: bold;
}
.tips, #mapTip {
	z-index: 999999;
	padding: 5px;
	background-color:black;
	box-shadow:  0 0px 5px #000000;
	-webkit-box-shadow:  0 0px 5px #000000;
	-moz-box-shadow:  0 0px 5px #000000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color:white;
	opacity:0.9;
	filter:alpha(opacity=90); 
	font-size:12px;
	background: -moz-linear-gradient(top, #5d5d5d, black);
	background: -webkit-gradient(linear, left top, left bottom, from(#5d5d5d), to(black));
	background: -moz-linear-gradient(top, #5d5d5d, black);
}



/* CCM PAGE */
#ccmT{
	position: absolute;
	padding: 20px;	
}
#ccmTitle {
	margin: 40px 0px 5px 20px;
}
#ccmSubTitle {
	margin: 10px 0px 5px 200px;
	width: 300px;
}
#containerShemas{
	width:960px;
	height:1000px;
	margin:	75px auto;
	background-color:white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0px 5px #7e7e7e;
	-webkit-box-shadow: 0 0px 5px #7e7e7e;
	-moz-box-shadow: 0 0px 5px #7e7e7e;
	overflow: hidden;
	position:relative;

}

.entenoire{
	background: url(../images/spriteCommentCaMarche.png) no-repeat;
	width:309px;
	height:284px;
	position:absolute;
	top:165px;
	left:60px;
}
.intelligenceArtificielle{
	background: url(../images/spriteCommentCaMarche.png) no-repeat;
	width:195px;
	height:165px;
	background-position:0 -305px;
	position:absolute;
	top: 320px;
	left: 285px;
	
}
.apprentissage{
	background: url(../images/spriteCommentCaMarche.png) no-repeat;
	width:438px;
	height:305px;
	background-position:0 -489px;
	position:absolute;
	top: 39px;
	left: 425px;
}
.traitement{
	background: url(../images/spriteCommentCaMarche.png) no-repeat;
	width: 160px;
	height: 174px;
	background-position: 0 -809px;
	position: absolute;
	top: 492px;
	left: 315px;
}
.data{
	background: url(../images/spriteCommentCaMarche.png) no-repeat;
	background-position: 0 -985px;
	position: absolute;
	width: 315px;
	height: 320px;
	top: 668px;
	left: 266px;
}
.shemas{
	margin-left: 50px;
	position: relative;
	margin-top: 5px;
}
#containerShemas h2{
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	text-align:left;
}
.entenoireText{
	font-size:16px ;
	position:absolute;
	width: 236px;
	top: 358px;
	left: -41px;
	background-color: lightgray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
}


.intelligenceArtificielleText{
	font-size:16px ;
	width:200px;
	position:absolute;
	width: 355px;
	top: 376px;
	left: 514px;
	background-color: lightgray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
}

.apprentissageText{
	border: 1px solid gray;
	border-style: dashed;
	font-size:16px ;
	position:absolute;
	width: 280px;
	top: 249px;
	left: 589px;
	background-color: lightgray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;	
}

.traitementText{
	font-size:16px ;
	width:200px;
	position:absolute;
	width: 355px;
	top: 518px;
	left: 515px;
	background-color: lightgray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
}

.dataText{
	font-size:16px ;
	width:200px;
	position:absolute;
	width: 288px;
	top: 750px;
	left: 580px;
	background-color: lightgray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
}

#containerShemas .blueButton{
float:right;
margin-right:20px;

}


#footer {
    border-radius: 3px 3px 3px 3px;
    bottom: 0px;
    font-size: 11px;
    padding: 10px;
    position: absolute;
    left: 15px;
}
#footerEl{
	opacity: 1;
}
#hackFb {
	position: absolute;
    right: 10px;
    bottom: 4px;
}


#SECURITY{
	background: #df2d42 url(../images/themes/securite.png) no-repeat center;
}
#EUROPE{
	background: #004492 url(../images/themes/europe.png) no-repeat center;
}
#ECONOMIC{
	background: #edba0a url(../images/themes/economie.png) no-repeat center;
}
#GREEN{
	background: #55bf3b url(../images/themes/environement.png) no-repeat center;
}
#IMIGRATION{
	background: #9e9e9e url(../images/themes/immigration.png) no-repeat center;
}
#SOCIAL{
	background: #f696f6 url(../images/themes/social.png) no-repeat center;
}
